<p>cursos works!</p>

<app-cursos-detalhe></app-cursos-detalhe>

<h1> Acesse o site {{ urlLink}}</h1>
<ul>
  <li *ngFor="let curso of listaCursos">
    {{ curso }}
  </li>
</ul>

<button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
</button>

<p></p>

<select>
  <option value="success">success</option>
  <option value="info">info</option>
  <option value="warning">warning</option>
  <option value="danger">danger</option>
</select>


<alert type="success">
  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
</alert>
<alert type="info">
  <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
</alert>
<alert type="warning">
  <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
</alert>
<alert type="danger">
  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
</alert>